<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.example.inventory.mapper.ShopMapper"><resultMap id="ShopMap" type="Shop"><id property="shopCode" column="uShopCode"/><result property="shopName" column="uShopName"/></resultMap><select id="findAll" resultMap="ShopMap">SELECT * FROM uShop ORDER BY uShopCode</select><select id="findByCode" resultMap="ShopMap">SELECT * FROM uShop WHERE uShopCode=#{shopCode}</select><insert id="insert" parameterType="Shop">INSERT INTO uShop(uShopCode,uShopName) VALUES(#{shopCode},#{shopName})</insert><update id="update" parameterType="Shop">UPDATE uShop SET uShopName=#{shopName} WHERE uShopCode=#{shopCode}</update><delete id="delete">DELETE FROM uShop WHERE uShopCode=#{shopCode}</delete><select id="countStorage" resultType="int">SELECT COUNT(*) FROM uStorage WHERE uShopCode=#{shopCode}</select></mapper>
